[submodule "JVLinkToSQLite"]
	path = JVLinkToSQLite
	url = https://github.com/urasandesu/JVLinkToSQLite.git
[submodule "JVLinkToSQLite.wiki"]
	path = JVLinkToSQLite.wiki
	url = https://github.com/urasandesu/JVLinkToSQLite.wiki.git
[submodule "HRSoftUsingJVLinkToSQLite"]
    path = HRSoftUsingJVLinkToSQLite
    url = https://github.com/urasandesu/HRSoftUsingJVLinkToSQLite
